// importing the google font rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
a{
    color: black;
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

/********* Mixins ***********/
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

    .spinner{
        padding: 100px 0;
        @include flex(column, center, center);
    }
